.navbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 10;
}

.icons,
.profile {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  flex: 6;
}

.nav-icon {
  font-size: 25px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-links {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link-item {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.search-icon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}
